<div class="modal-overlay" (click)="cancel.emit()">
  <div class="modal" (click)="$event.stopPropagation()">

    <div class="modal-header">
      <h3 class="modal-title">
        <!-- <span class="material-symbols-outlined">delete</span> -->
        Confirmer la suppression
      </h3>
      <button class="modal-close" (click)="cancel.emit()">
        <!-- <span class="material-symbols-outlined">close</span> -->
      </button>
    </div>

    <div class="modal-body">
      <p class="modal-message">
        Êtes-vous sûr de vouloir supprimer
        <strong>{{ itemName }}</strong> ?
        Cette action est irréversible.
      </p>
    </div>

    <div class="modal-footer">
      <button class="btn-cancel" (click)="cancel.emit()">
        Annuler
      </button>
      <button class="btn-delete" (click)="confirm.emit()">
        <!-- <span class="material-symbols-outlined">delete</span> -->
        Supprimer
      </button>
    </div>

  </div>
</div>